/* CSS para centralizar o formulário */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Cor de fundo opcional */
    font-family: 'Poppins', sans-serif;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    border-color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

button {
    width: 100%;
}
